.tab-container {
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.tab {
  cursor: pointer;
  color: white;
  background-color: gray;
  border-radius: 5px;

  margin-right: 200px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-top: 50px;
}

.tab.active {
  background-color: rgb(16, 165, 224);
  color: white;
}

.sub-tab {
  cursor: pointer;
  color: white;
  background-color: gray;
  border-radius: 5px;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 10px;
}
.tab-content {
  gap: 20px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.sub-tab.active {
  background-color: rgb(16, 165, 224);
  color: white;
}

.car-details {
  margin-top: 20px;
  text-align: center;
}

.car-details p {
  /* margin: 5px; */
}
